form p.result-er.remove {
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
}
form p.result-er.remove .fas {
    position: relative;
    top: 2px;
    color: #f00;
    margin-inline: 5px;
    font-size: 18px;
}
form .result,
form .needs,
form .note {
    width: 100%;
    text-align: center;
    background-color: var(--secColor);
    color: #fff;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
form .result span {
    font-weight: bold;
}
form .needs p {
    margin-bottom: 5px;
}
form .needs p span,
form .note span {
    font-weight: bold;
}
form .note {
    text-align: left;
}
form .note p {
    margin-block: 10px;
}
form table {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border-collapse: collapse;
}
form table thead tr th {
    padding: 12px 0;
    background-color: var(--secColor);
    color: #fff;
}
form table tbody tr td {
    border: 2px solid var(--secColor);
    padding: 8px;
}
form table tbody tr:nth-child(even) {
    background-color: #fff;
}
form table span {
    font-weight: bold;
}
