header {
    background-color: var(--primColor);
    padding-block: 15px;
}
header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container img {
    width: 50px;
    margin-right: 10px;
}
header .container p {
    color: #eee;
    font-size: 20px;
    font-weight: bold;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 50px;
}
.intro .container div {
    margin-block: 15px;
    align-self: flex-start;
    border-bottom: 3px solid var(--primColor);
}
.intro .container div p {
    background-color: #fff;
    margin: 0px;
    padding: 15px 15px 15px 40px;
    font-size: 18px;
    position: relative;
}
@media (max-width: 767px) {
    .intro .container div p {
        font-size: 16px;
    }
}
.intro .container div p::before {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: 15px;
    width: 12px;
    height: 12px;
}
.intro .container div p.ques::before {
    background-color: var(--primColor);
}
.intro .container div p.ans::before {
    background-color: var(--secColor);
}
.intro .container div p span {
    font-weight: 700;
}
.gallery {
    margin-block: 50px;
}
.gallery .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
}
.gallery .container .content div {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.gallery .container .content div::before {
    content: attr(data-cap);
    position: absolute;
    top: 0;
    left: -1000px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 31, 63, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
.gallery .container .content div:hover::before {
    left: 0;
}
.gallery .container .content div:hover img {
    transform: rotate(2deg) scale(1.1);
    -webkit-transform: rotate(2deg) scale(1.1);
    -moz-transform: rotate(2deg) scale(1.1);
    -ms-transform: rotate(2deg) scale(1.1);
    -o-transform: rotate(2deg) scale(1.1);
}
.gallery .container .content div img {
    width: 100%;
    height: 100%;
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
.calc {
    margin-block: 50px;
}
.calc .container form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.calc .container form select {
    position: relative;
    width: 40%;
    height: 65px;
    line-height: 65px;
    margin-bottom: 45px;
    padding-inline: 20px;
    background-color: #fff;
    outline: none;
    border: 3px solid var(--secColor) !important;
    border-top: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.calc .container form select option {
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}
.calc .container form .age,
.calc .container form .height,
.calc .container form .weight {
    position: relative;
    text-align: center;
    width: 40%;
}
.calc .container form .age::before,
.calc .container form .height::before,
.calc .container form .weight::before {
    content: attr(data-word);
    position: absolute;
    top: 17px;
    right: 55px;
    font-size: 25px;
    font-weight: bold;
}
.calc .container form .age .holder,
.calc .container form .height .holder,
.calc .container form .weight .holder {
    position: absolute;
    top: 18px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #777;
    user-select: none;
    cursor: pointer;
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
.calc .container form .age .holder.has-data,
.calc .container form .height .holder.has-data,
.calc .container form .weight .holder.has-data {
    top: -30px !important;
    left: 0;
    color: var(--secColor);
}
.calc .container form div input {
    width: 100%;
    height: 65px;
    margin-bottom: 45px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-right: 3px solid var(--secColor);
    border-left: 3px solid var(--secColor);
    font-weight: bold;
    font-size: 24px;
}
.calc .container form div .inp-border {
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom: 45px;
    background-color: var(--secColor);
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
.calc .container form div span.inp-border.active {
    left: 0;
    width: 100%;
}
.calc .container form input[type="submit"] {
    width: 300px;
    margin-block: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    outline: none;
    cursor: pointer;
    color: #222;
    border: 3px solid #222;
    background: linear-gradient(to left, #fff 50%, #222 50%) right;
    background-size: 200%;
    transition: var(--mainDuration) ease-in-out;
    -webkit-transition: var(--mainDuration) ease-in-out;
    -moz-transition: var(--mainDuration) ease-in-out;
    -ms-transition: var(--mainDuration) ease-in-out;
    -o-transition: var(--mainDuration) ease-in-out;
}
.calc .container form input[type="submit"]:hover {
    background-position: left;
    color: var(--secColor);
    border-color: var(--secColor);
}
@media (max-width: 767px) {
    .calc .container form select,
    .calc .container form .age,
    .calc .container form .height,
    .calc .container form .weight,
    .calc .container form input[type="submit"] {
        width: 100%;
    }
    .calc .container form .age::before,
    .calc .container form .height::before,
    .calc .container form .weight::before,
    .calc .container form div input {
        font-size: 18px;
        top: 23px;
    }
    .calc .container form div .holder {
        font-size: 18px !important;
        top: 23px !important;
    }
}
footer {
    background-color: var(--primColor);
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer .container div p:first-child {
    margin-block: 10px;
}
footer .container div p:last-child {
    margin-top: 10px;
}
footer .container div p .fas {
    color: #dc143c;
}
footer .container p a {
    font-weight: bold;
    text-decoration: none;
    color: #f44336;
}
#to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: -1000px;
    width: 35px;
    height: 35px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--secColor);
    z-index: 99;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
#to-top .fas {
    font-size: 18px;
    transition: var(--mainDuration);
    -webkit-transition: var(--mainDuration);
    -moz-transition: var(--mainDuration);
    -ms-transition: var(--mainDuration);
    -o-transition: var(--mainDuration);
}
#to-top:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}
#to-top:hover .fas {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}
